{% case site.color-scheme %}
{% when "", nil, false, 0, empty %}
{% assign ColorScheme = "light" %}
{% else %}
{% assign ColorScheme = site.color-scheme %}
{% endcase %}


<!DOCTYPE html>
<html lang="{{ site.lang | default: "ko" }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.min.css">
    <!--
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  -->
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url }}/assets/apple-icon-152x152.png">
  <link rel="shortcut icon" href="{{ site.github.url }}/assets/favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.github.url }}{{ "/assets/css/colors-ColorScheme.css?v=" | replace: "ColorScheme", ColorScheme | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="{{ site.github.url }}{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.0/dist/email.min.js"></script>
  <script src="{{ "/assets/js/common.js" | relative_url }}"></script>

  <script type="text/javascript">
    (function() {
        emailjs.init(readKeyFile()); //please encrypted user id for malicious attacks
    })();

    //set the parameter as per you template parameter[https://dashboard.emailjs.com/templates]
    var templateParams = {
        previous_page: document.referrer,
        send_date: currentDate(),
        message: '블로그를 방문했습니다.'
    };

    emailjs.send('hs_gmail', 'template_v4f6qbh', templateParams)
        .then(function(response) {
        console.log('SUCCESS!', response.status, response.text);
        }, function(error) {
        console.log('FAILED...', error);
        });
  </script>
</head>
  <body>
  <div class="wrapper">
      <div class="sidebar">
          <header>
              {%- include header.html -%}
          </header>
          {% include mobile.html %}
          <div class="sidebar-footer">
              {%- include footer.html -%}
          </div>
      </div>
      <section>
          <div class="col-lg-8 mx-auto p-3 py-md-5">
              <!-- 자기소개 -->
              {% include aboutme.html %}
              <!-- 경험 -->
              {% include experience.html %}
              <!-- 기술 스택 -->
              {% include skills.html %}
              <div id="id_achievement">
                  <!-- 주요 성과 - 하나투어 -->
                  {% include achievement_hanatour.html %}
                  <!-- 주요 성과 - 라이픽 -->
                  {% include achievement_lific.html %}
                  <!-- 주요 성과 - 홈플러스 -->
                  {% include achievement_homeplus.html %}
                  <!-- 주요 성과 - wisenut -->
                  {% include achievement_wisenut.html %}
              </div>
              <!-- 업데이트 내역 -->
              {% include history.html %}
              <!-- footer -->
              {% include footer.html %}
          </div>
      </section>
      <footer>
          {%- include footer.html -%}
      </footer>
  </div>


  <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
